In [5]:
import pandas as pd
import os

cwd = os.getcwd()
print(cwd)

schools = "../Starter_Code/PyCitySchools/Resources/schools_complete.csv"
students = "../Starter_Code/PyCitySchools/Resources/students_complete.csv"

C:\Users\Saman\Python_Practice\Pandas-Challenge\PyCitySchools

In [6]:
schools_df = pd.read_csv(schools)
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [7]:
students_df = pd.read_csv(students)
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [8]:
school_data_combined = pd.merge(students_df, schools_df, how="left", on=["school_name","school_name"])
school_data_combined.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [35]:
school_data_combined.to_csv("School_Data_Combined.csv")

In [30]:
school_count = len(school_data_combined["school_name"].unique())
school_count

15

In [40]:
student_count = school_data_combined["student_name"].count()
student_count

39170